/* some colors you may find useful:
  #115ff4 background color
  #060ce9 cells background color
  #28a200 solution color
  #8d2ab5 Restart button color
  #74119c Hover Restart button color
*/

body {
  box-sizing: border-box;
  background-color:#115ff4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*Ensure full viewport height*/
  margin: 0; /* Remove default margin */
}

.container {
    position: absolute;
    top: 8%;
    /* bottom: 8%; */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center text horizontally */
}

h1 {
  color: white;
  font-size: 48px;
}

button {
  background-color: #8d2ab5;
  color: white;
}

table {
  margin-top: 300px; /* Add spacing between header, button, and table */
  border-collapse: collapse;
}

th, td {
  background-color: #060ce9;
  width: 8.25rem;
  border: 1px solid white;
}

th {
  height: 3.5rem;
  
}

td {
  height: 5.5rem;
}

td h2 {
  color: #060ce9;
  font-size: 38px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: white;
  margin-left: 58.82px;
  margin-right: 58.82px;
  text-align: center;
}

/* Apply style to the text inside the <th> */
.th_styles {
  color: white;
}

.hidden { 
  display: none;
}

/* Clicked <td> */
.clicked-question {
  color: white; /* Example text color for clicked cells */
  /* Add any other styling you want for clicked cells */
}

.clicked-answer {
  color: white;
  background-color: #28a200;
}

  